{% comment %} 
      Would prefer to use a for loop here instead of hardcoding. Didn't have time for deep dive of Shopify Sections, but
      looked like that would be the answer.
{% endcomment %}

<h2 class="section-header text-center top-margin-10percent">Frequently Asked Questions</h2>
<div id="faqs-container">
    <ul class="faqs-list">
    <li class="faq">If I set fire to my received product, can I still get a full refund?</li>
      <span class="hide">Of course, we all make mistakes!</span>
    <div class="faq-divider"></div>
    <li class="faq">I want free stuff, can you give me free stuff?</li>
      <span class="hide">It's probably bad for our business model...but sure!</span>
    <div class="faq-divider"></div>
    <li class="faq">What's better than two questions?</li>
      <span class="hide">Three questions.</span>
    </ul>
</div>